@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.rm-breadcrumb .ant-breadcrumb-link:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.no-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.rm-radio-tags {
  display: flex;
  gap: 4px;
  border: none;
}

.rm-radio-tags label {
  border: none;
  border-radius: 4px !important;
  content: none;
}

.rm-radio-tags .ant-radio-button {
  background-color: #55a4ff;
  border-radius: 4px;
  border: none;
}

.rm-radio-tags .ant-radio-button-wrapper::before {
  content: none;
}

.rm-radio-tags .ant-radio-button-wrapper {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
}

.rm-radio-tags .ant-radio-button-wrapper:hover {
  color: #55a4ff;
}

.rm-radio-tags .ant-radio-button-wrapper:active {
  animation: none;
}

.bullet-list::before {
  content: "•"; /* Bullet character */
  color: black; /* Bullet color */
  font-weight: bold; /* Bullet weight */
  display: inline-block;
  width: 1em;
  margin-left: -1.5em; /* Adjust position */
  margin-right: 0; /* Space after bullet */
}

.rm-logout-modal .ant-modal-close {
  color: black !important;
  border: 3px solid black !important;
  border-radius: 8px !important;
  padding: 12px !important;
  background-color: transparent !important;
  font-weight: 700 !important;
}

.rm-logout-modal .ant-modal-close {
  padding: 0 !important;
  margin-top: 0 !important;
}
