@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.rm-breadcrumb .ant-breadcrumb-link:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}


.no-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.rm-radio-tags {
  display: flex;
  gap: 4px;
  border: none;
}

.rm-radio-tags label {
  border: none;
  border-radius: 4px !important;
  content: none;
}

.rm-radio-tags .ant-radio-button {
  background-color: #55A4FF;
  border-radius: 4px;
  border: none;
}

.rm-radio-tags .ant-radio-button-wrapper::before {
  content: none;
}

.rm-radio-tags .ant-radio-button-wrapper {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
}

.rm-radio-tags .ant-radio-button-wrapper:hover {
  color: #55A4FF;
}

.rm-radio-tags .ant-radio-button-wrapper:active {
  animation: none;
}